apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-web-app
spec:
  selector:
    matchLabels:
      app: nginx
  replicas: 2 # tells deployment to run 2 pods matching the template
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        image: helbino/my-web-app:v-26
        ports:
        - containerPort: 80